<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="">PharmaGO</h5>
        <p>Get medical necessities on your door step within hours.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">OUR PARTNERS</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Satyam Pharmacy</a>
          </li>
          <li>
            <a href="#!">Kousal Pharmacy</a>
          </li>

        </ul>

      </div>


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 powered by:
    <a href="https://mdbootstrap.com/education/bootstrap/"> <strong class="black" style="padding:5px;">prismco.</strong></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
